<footer class="page-footer red darken-3">
  <div class="container">
    <div class="row">
      <div class="col m12 s12">
        <h5 class="center white-text">Lighthouse Labs Mid-Term Project</h5>
        <h6 class="center white-text">Created and Coded by Alex, Dave, and Steph</h6>
      </div>
    </div>
      <div class="footer-copyright">
        <div class="container col m12 s12">
          <h6 class="center">  © 2017 Wolfdown </h6>
        </div>
      </div>
  </div>
</footer>
