<footer class="page-footer red darken-3">
  <div class="container">
    <div class="row">
      <div class="col m12 s12">
        <h5 class="center white-text">Lighthouse Labs Mid-Term Project</h5>
        <h6 class="center white-text">by Dave, Alex, and Steph (DAS or SAD)</h6>
      </div>
    </div>
      <div class="footer-copyright col m12">
        <div class="container">
          <h6 class="center">  © 2017 Wu̇lfdau̇n </h6>
        </div>
      </div>
  </div>
</footer>
