<nav class="red accent-4">
  <h5 class="center">Wolfdown</h5>
    <ul>
      <li class="active lighten-3"><a href=/> Home </a></li>
      <li class="active lighten-3"><a href=/menu> Menu </a></li>
      <li class="active lighten-3"><a href=/login> Login </a></li>
      <li class="active lighten-3"><a href=/register> Register</a></li>
      <li class="active lighten-3"><a href=/menu/cart> Cart</a></li>
    </ul>
</nav>
