    <nav>
      <span>Wolfdown</span>
      <img src="https://www.wolfcms.org/wiki/_media/wolf_logo_128.png">
        <ul>
          <li><a href=#> Home </a></li>
          <li><a href=#> Menu </a></li>
          <li><a href=#> Login </a></li>
          <li><a href=#> Register</a></li>
        </ul>
    </nav>
