<div class="navbar-fixed">
  <nav class="red darken-3">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="valign-wrapper brand-logo left"><i class="material-icons small white-text">view_day</i><bold>Wu̇lfdau̇n</bold></a>
        <ul class="right">
          <li class="active lighten-3"><a href="/menu"><strong>Menu</strong></a></li>

              <li class="active lighten-3"><a href="/login"><strong>Login</strong></a></li>
              <li class="active lighten-3"><a href="/register"><strong>Register</strong></a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>
