<!DOCTYPE html>
<html>
<% include ./partials/_html_head %>

  <body>
<% include ./partials/_header %>
    <button> Add More Items</button>
    <button> Place Your Order</button>
    <ul>
      <li> Item 1 </li>
      <li> Item 2 </li>
      <li> Item 3 </li>
      <li><b> Total: $1000</b></li>
    </ul>

    <button> Add More Items</button>
    <button> Place Your Order</button>
  </body>
</html>
