<!DOCTYPE html>
<html lang="en">
<% include ./partials/_html_head %>


  <body>
<% include ./partials/_header %>
    <div class="container s12">
    <h2> About Wolfdown </h2>
    </div>
    <div class="container s12">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget pretium ligula. Duis finibus ante ac erat blandit, a interdum tortor hendrerit. Aenean luctus tortor urna, vitae finibus dolor porttitor sit amet. Fusce iaculis mauris vel dui efficitur, at placerat nibh semper. Duis eget fringilla purus, eu iaculis massa. Quisque.</p>
    </div>

    <div class="container s12">
    <h2> How it works</h2>
    </div>

      <div class="row">
      <div class="col s4 center">
      <blockquote class="promo flow-text">Register With Wolfdown</blockquote>
      <img src="1.png">
      </div>
      <div class="col s4 center">
      <blockquote class="promo flow-text">Place your order</blockquote>
      <img src="3.png">
      </div>
      <div class="col s4 center">
      <blockquote class="promo flow-text">Go get your food </blockquote>
      <img src="2.png">
      </div>

  </body>
</html>
