<!DOCTYPE html>
<html lang="en">
<% include ./partials/_html_head %>


  <body>
<% include ./partials/_header %>
    <h2> About Wolfdown </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget pretium ligula. Duis finibus ante ac erat blandit, a interdum tortor hendrerit. Aenean luctus tortor urna, vitae finibus dolor porttitor sit amet. Fusce iaculis mauris vel dui efficitur, at placerat nibh semper. Duis eget fringilla purus, eu iaculis massa. Quisque.</p>

    <h2> How it works</h2>
      <div class="container">
        <div class="how">
          Register
        </div>
        <div class="how">
        Place your order
        </div>
        <div class="how">
        Pick up your food
        </div>
      </div>


  </body>
</html>
