<!DOCTYPE html>
<html lang="en">
<% include ./partials/_html_head %>
  <body>
<% include ./partials/_header %>

  <div class="parallax-container">
    <div class="parallax">
      <img src="salad.jpg" id="show" >
      </div>
  </div>

  <div class="container s12">
    <h2> About Wolfdown </h2>
  </div>
  <div class="container s12">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget pretium ligula. Duis finibus ante ac erat blandit, a interdum tortor hendrerit. Aenean luctus tortor urna, vitae finibus dolor porttitor sit amet. Fusce iaculis mauris vel dui efficitur, at placerat nibh semper. Duis eget fringilla purus, eu iaculis massa. Quisque.
    </p>
  </div>

  <div class="container s12">
    <h2> How it works</h2>
  </div>
  <div class="row">
    <div class="col s4 center">
      <h5 class="card-panel">Register With Wolfdown</h5>
      <img src="1.png">
    </div>
    <div class="col s4 center">
      <h5 class="card-panel">Place your order</h5>
      <img src="3.png">
    </div>
    <div class="col s4 center">
      <h5 class="card-panel">Go get your food </h5>
      <img src="2.png">
    </div>
  </div>

  <footer class="page-footer">
    <div class="container center">
      <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">Lighthouse Labs Mid-Term Project</h5>
        <p class="grey-text text-lighten-4">Created and Coded by Alex, Dave, and Steph</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  <div class="container center">
    © 2017 Wolfdown
  </div>
  </div>
  </footer>
  </body>
</html>