<!DOCTYPE html>
<html lang="en">
<% include ./partials/_html_head %>
  <body>
<% include ./partials/_header %>

  <div class="parallax-container">
    <div class="parallax"><img src="/images/burger6.png"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header center red-text text-darken-3"> About Wu̇lfdau̇n </h2>
      <p class="grety-text text-darken-3 lighten-3"> At Wu̇lfdau̇n we pride ourselves in gathering the best burgers in Toronto for your choosing. The burgers we pick from various restaurants use the freshest ingredients and offer the best prices. When you place your order with Wu̇lfdau̇n, your burger is on the grill just a few minutes after checkout! We'll provide you with an approximate time for when to arrive so that your order is still hot and ready to take out! You skip the line, save time, and have access to our exclusive options and discounts.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/burger1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row">
      <h2 class="header center red-text text-darken-3">Get Started</h2>
    </div>
    <div class="row">
      <div class="col m2 offset-m1 center">
        <i class="large red-text text-darken-3 material-icons">perm_identity</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">view_list</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">shopping_cart</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">store</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">redeem</i>
      </div>
    </div>
    <div class="row">
      <div class="col m2 offset-m1 center">
        <h6 class="red-text text-darken-3">Register</h6>
      </div>
      <div class="col m2 center">
        <h6 class="red-text text-darken-3">Order</h6>
      </div>
      <div class="col m2 center">
        <h6 class="red-text text-darken-3">Checkout</h6>
      </div>
      <div class="col m2 center">
        <h6 class="red-text text-darken-3">Pickup</h6>
      </div>
      <div class="col m2 center">
        <h6 class="red-text text-darken-3">Wolf Down</h6>
      </div>
      <div class="row"></div>
    </div>
  </div>
  <% include ./partials/_footer %>
  </body>
</html>
