<!DOCTYPE html>
<html lang="en">
<% include ./partials/_html_head %>
  <body>
<% include ./partials/_header %>

  <div class="parallax-container">
    <div class="parallax"><img src="/images/burger6.png"></div>
  </div>
  <div class="section white">
    <div class="row">
      <h2 class="header center red-text text-darken-3">Get Started</h2>
    </div>
    <div class="row">
      <div class="col m2 offset-m1 center">
        <i class="large red-text text-darken-3 material-icons">perm_identity</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">view_list</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">shopping_cart</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">store</i>
      </div>
      <div class="col m2 center">
        <i class="large red-text text-darken-3 material-icons">redeem</i>
      </div>
    </div>
  <div class="row">
    <div class="col m2 offset-m1 center">
      <h6 class="red-text text-darken-3">Register</h6>
    </div>
    <div class="col m2 center">
      <h6 class="red-text text-darken-3">Order</h6>
    </div>
    <div class="col m2 center">
      <h6 class="red-text text-darken-3">Checkout</h6>
    </div>
    <div class="col m2 center">
      <h6 class="red-text text-darken-3">Pickup</h6>
    </div>
    <div class="col m2 center">
      <h6 class="red-text text-darken-3">Wolf Down</h6>
    </div>
  </div>
</div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/burger1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header center red-text text-darken-3"> About Wu̇lfdau̇n </h2>
      <p class="grey-text text-darken-3 lighten-3">
        Wolf burger quinoa everyday carry garlic aoli vapourwave blue bottle. Hammock blue bottle tbh semiotics subway tile lit enamel pin, chia single-origin coffee hashtag pitchfork pickled quinoa arugula jianbing intelligentsia cray. Trust fund synth gastropub, narwhal chia offal kogi jianbing vegan bacon. Meh venmo migas, dark chocolate, celiac kinfolk succulents quinoa tbh chambray vape roof party sundried tomatoes stumptown paleo vaporware. Vegan gentrify swag, hashtag heirloom lyft woke drinking vinegar VHS truffaut keffiyeh listicle. Deep v pickled selvage, forage YOLO twee aesthetic fap pinterest fry truffle oil yuccie quinoa listicle craft beer. Irony wolf vaporware YOLO cliche, flexitarian pabst waistcoat scenester whatever swag meditation bacon.
      </p>
    </div>
      <div class="row"></div>
    </div>
  <% include ./partials/_footer %>
  </body>
</html>
