<!DOCTYPE html>
<html>
<% include ./partials/_html_head %>
 <body>
 <% include ./partials/_header %>
  <h2>LOGIN</h2>
   <form method ="POST" action="/register">
     <label>Please put in your e-mail address</label>
     <input type="email" name="email" placeholder="Your e-mail address">
     <input type="password" name="password" placeholder="Password"></br>
     <input type="submit" value="Register!">
   </form>
 </body>
</html>
