<!DOCTYPE html>
<html>
<% include ./partials/_html_head %>
<body>
<% include ./partials/_header %>
<h2>Wolfdown Menu</h2>

  <button>Checkout Now</button>

  <div>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/03/06/ea/0306ea225485883ec4f7750581e11b35.jpg">
    FOOD ITEM DESCRIPTION -- $$$
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
  </div>

  <div>
    <img src="http://media.new.mensxp.com/media/content/2014/Jun/deliciousfoodseveryindiancravesforonarainyday1_1403619207.jpg">
    FOOD ITEM DESCRIPTION -- $$$
    <button>Add To Cart</button>
  </div>

  <div>
    <img src="http://www.thelocal.se/userdata/images/1415181387_foodcrayfish.jpg">
    FOOD ITEM DESCRIPTION -- $$$
    <button>Add To Cart</button>
  </div>

  <div>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/58/55/b6/5855b65229a5dc4c36a2a063350d90f5.jpg">
    FOOD ITEM DESCRIPTION -- $$$
    <button>Add To Cart</button>
  </div>

  <div>
    <img src="http://favim.com/orig/201106/03/chocolate-delicious-food-oreo-strawberry-treat-Favim.com-65367.jpg">
    FOOD ITEM DESCRIPTION -- $$$
    <button>Add To Cart</button>
  </div>

  <div>
    <img src="http://www.myfreewallpapershub.com/wp-content/uploads/2014/11/Mexican-food.jpg">
    FOOD ITEM DESCRIPTION -- $$$
    <button>Add To Cart</button>
  </div>


  <button>Checkout Now</button>



 </body>
</html>