<!DOCTYPE html>
<html lang="en">
<% include ./partials/_html_head %>
  <body>
<% include ./partials/_header %>

<div class="container">
  <div class="row">
    <div class="col m12 s12">
      <h3 class="center red-text text-darken-3"> Thank you for ordering with Wu̇lfdau̇n! </h3>
      <h5 class="center red-text text-darken-3"> Check your phone in the next few minutes for your order pickup time! <h5>
    </div>
  </div>
</div>
  <img src="/images/map.png">
</body>
</html>
