<!DOCTYPE html>
<html>
<% include ./partials/_html_head %>
 <body>
 <% include ./partials/_header %>
<h2>Why Register?</h2>

<div class="container col s12">
  <div class="row">
    <div class="col s3 offset-s1">
      <i class="material-icons large">fast_forward</i>
      <p> Speedy Service</p>
    </div>
    <div class="col s3 offset-s1">
      <i class="material-icons large">stars</i>
      <p>Exclusive Discounts</p>
    </div>
    <div class="col s3 offset-s1">
      <i class="material-icons large">thumb_up</i>
      <p>Don't wait in line</p>
    </div>
  </div>
</div>

<div class="container col s12"">
 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <a class="btn" onclick="Materialize.toast('Thanks For Registering!', 4000)">Register</a>
    </form>
  </div>
  </div>



    </div>
 </body>
</html>
