<!DOCTYPE html>
<html>
<% include ./partials/_html_head %>
 <body>
 <% include ./partials/_header %>
<h2>REGISTER</h2>
   <form method ="POST" action="/register">
     <label>Please input a valid e-mail address</label>
     <input type="email" name="email" placeholder="Your e-mail address"></br>
     <label>Password must be more than 7 characters</label>
     <input type="password" name="password" placeholder="Password"></br>
     <input type="submit" value="Register!">
   </form>
 </body>
</html>
