body {
  background-color: #fff;

  h1 {
    color: #244751;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
  }
  .parallax-container {
  height: 400px;
    .parallax {
       img {
        height: 850px;
    }
    }

  }
}

h2 {
  text-align: center;
}

#show {
  display: block;
  background-repeat: no-repeat;
}


